:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}
.item_details {
  padding: 50px 0;
}
.item_details .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item_details .imgs_item {
  width: 40%;
}
.item_details .imgs_item .big_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.item_details .imgs_item .big_img img {
  max-height: 450px;
  width: auto;
}
.item_details .imgs_item .sm_img {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item_details .imgs_item .sm_img .img_div_sm {
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_details .imgs_item .sm_img img {
  object-fit: cover;
  width: 130%;
}

.item_details .details_item {
  width: 58%;
}
.item_details .details_item .name {
  margin-bottom: 30px;
  color: var(--main-color);
}
.item_details .details_item .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}
.item_details .details_item .stars svg {
  fill: #f8d941;
  color: #f8d941;
  font-size: 20px;
}
.item_details .details_item .price {
  font-size: 22px;
  margin: 20px 0;
}
.item_details .details_item h5 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.item_details .details_item .desc {
  line-height: 1.5;
}

.item_details .details_item .stock {
  font-size: 20px;
  margin-top: 20px;
}
.item_details .details_item .btn {
  font-size: 16px;
  border-radius: 2px;
  padding: 12px 15px;
  border: 1px solid var(--main-color);
  transition: 0.35s ease-in-out;
}
.item_details .details_item .btn.in-cart {
  background: transparent;
  color: var(--main-color);
  pointer-events: none;
}
.item_details .details_item .icons span.in-fav {
  background: var(--white-color);
}
.item_details .details_item .icons span.in-fav svg {
  color: var(--white-color);
  fill: var(--white-color);
}
.item_details .details_item .btn svg {
  font-size: 20px;
}

.item_details .details_item .icons {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  margin: 20px 0;
}
.item_details .details_item .icons span {
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.35s;
}

.item_details .details_item .icons span:hover {
  background: var(--main-color);
}
.item_details .details_item .icons svg:hover {
  transition: 0.35s;
}

.loading_item .item_details .imgs_item {
  height: 600px;
}
.loading_item .item_details .details_item {
  height: 600px;
  padding-top: 100px;
}
.loading_item .item_details .details_item h5 {
  margin-bottom: 50px;
  height: 30px;
}

/* ==== responsive ==== */
@media (max-width: 768px) {
  .item_details .container {
    flex-direction: column-reverse;
  }
  .item_details .details_item {
    width: 90%;
  }
  .item_details .imgs_item .big_img img {
    max-height: 300px;
  }
  .item_details .imgs_item {
    width: 70%;
    margin-top: -3rem;
  }
  .item_details .imgs_item .big_img {
    margin-bottom: 0;
  }
  .item_details .details_item .name {
    font-size: 1.5rem;
  }
  .item_details .details_item .stock {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .item_details .imgs_item .big_img img {
    max-height: 300px;
  }
  .item_details .details_item {
    width: 50%;
  }
  .item_details .imgs_item .sm_img img {
    max-height: 120px;
  }
}
