:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}
.slide_products {
  padding: 50px 0;
}
.top_slide {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding: 15px 20px 20px 0;
}
.top_slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background: var(--main-color);
}
.top_slide h2 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.product {
  
  background: var(--white-color);
  padding: 25px 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.product:hover {
  border-color: var(--main-color);
  box-shadow: 10px 10px 15px #94949429;
}
.product .img_product {
  position: relative;
  height: 180px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.product .img_product img {
  height: 160px;
  width: auto;
}
.product .name_product {
  margin-bottom: 10px;
  color: var(--color-heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}
.product .stars svg {
  fill: #f8d941;
  color: #f8d941;
  font-size: 18px;
}
.product .price {
  font-weight: bold;
  font-size: 20px;
}
.product .icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  right: -50px;
  gap: 10px;
  transition: 0.3s;
}
.product:hover .icons {
  right: 20px;
}
.product .icons span {
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.product .icons span.in-fav {
  background: var(--main-color);
}
.product .icons span.in-fav svg {
  fill: var(--white-color);
}
.product.in-cart .icons .btn_addToCart {
  background: var(--main-color);
  pointer-events: none;
}
.product.in-cart .icons .btn_addToCart svg {
  fill: var(--white-color);
  color: var(--white-color);
}
.product .status_cart {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #253237;
}
.product.in-cart .status_cart {
  top: 10px;
}
.product .status_cart svg {
  color: rgba(44, 252, 3);
}
.loading_slideProduct .top_slide {
  height: 105px;
}
.loading_slideProduct .top_slide h2 {
  width: 250px;
  height: 35px;
}
.loading_slideProduct .top_slide p {
  height: 25px;
  width: 350px;
}
.products_loading {
  display: flex;
  gap: 30px;
}
.products_loading .img_product {
}
.products_loading .content {
  height: 30px;
  margin-bottom: 10px;
}
