

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  /* padding-top: 150px; */
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: "DM Sans", sans-serif;
}
span {
  color: var(--main-color);
}
p {
  color: var(--p-color);
}
input,
button,
select,
textarea {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: var(--color-heading);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
.btn {
  padding: 10px 18px;
  text-transform: uppercase;
  border-radius: 30px;
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  width: max-content;
  font-size: 12px;
  font-weight: 500;
}
.btn:hover {
  scale: 1.1;
}
/* Loading */
.skeltion {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    (rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}
@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

/* Toast */
.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-height: 300px;
}
.toast-img {
  width: auto;
  height: 50px;
  object-fit: cover;
}
.toast-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.toast-wrapper strong {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.toast-content .btn {
  margin-top: 5px;
  font-size: 13px;
}
